# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/assignment1/FileContentIndex/09167d48-9827-44e8-b1de-ffdf053dce35.vsidx
/.vs/assignment1/FileContentIndex/591cef99-c59a-4c7a-bf0c-46a572cc3269.vsidx
